<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>구글 차트</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline='javascript'>
  /*<!CDATA[*/
  var birthData=/*[[${birth}]]*/;
  /*]]>*/
  var birthArray=[];
  birthArray.push(["연령", "조회수", { role: "style" } ]);
  for (birth in birthData){
     var birthSubArray=[];
     birthSubArray.push(birthData[birth]['axis']+'대');
     birthSubArray.push(parseInt(birthData[birth]['count']));
     birthSubArray.push('#FF8000');
     birthArray.push(birthSubArray);
  }
    console.log(birthArray);
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(birthArray);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "연령별 조회수",
        width: 500,
        height: 300,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>


<script type="text/javascript" th:inline="javascript">
    /*<!CDATA[*/
    var gender=/*[[${gender}]]*/;
    /*]]>*/
    var array=[];
    array.push(['Task', 'Hours per Day']);
    for (k in gender){
       var array1=[];
       if(gender[k]['axis']==0){
          array1.push('남성');
          }
       else{
          array1.push('여성');
       }
       array1.push(gender[k]['count']);
       array.push(array1);
    }
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(array);

        var options = {
          title: '성별 조회수'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

<script th:inline='javascript'>
        google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);
/*<!CDATA[*/
var data=/*[[${month}]]*/;
/*]]>*/
var monthArray=[];
for (month in data){
   var monthSubArray=[];
   monthSubArray.push(parseInt(data[month]['axis']));
   monthSubArray.push(data[month]['count']);
   monthArray.push(monthSubArray);
}
function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', '월별');
      data.addColumn('number', '조회수');

      data.addRows(monthArray);

      var options = {
        hAxis: {
          title: '월별'
        },
        vAxis: {
          title: '조회수'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div1'));

      chart.draw(data, options);
    }

    </script>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-4" id="columnchart_values"
				style="height: 400px; float: left; width: 33%"></div>
			<div class="col-md-4" id="chart_div1"
				style="width: 600px; height: 400px; float: left; width: 33%"></div>
			<div class="col-md-4" id="piechart"
				style="width: 600px; height: 400px; float: left; width: 33%"></div>
		</div>
	</div>

</body>
</html>