<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<style type="text/css">
#registerForm label.error {
	margin-left: 10px;
	color: red;
}
</style>
	<script src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
	<script src="/js/join.js"></script>


	<script type="text/javascript">
		$(document).ready(function() {
			//기본형태
			//$('#registerForm').validate(); //유효성 검사를 적용

			// validate signup form on keyup and submit
			//확장옵션
			$('#registerForm').validate({
				rules : {
					userId : {
						required : true,
						minlength : 3,
					/* 	remote : "Validate" */
					},
					userPw : "required",
					userPw2 : {
						required : true,
						equalTo : '#userPw'
					},
					nickName : {
						required : true
					},
					birth : {
						required : true
					},
					gender : {
						required : true
					}
				//
				},
				messages : {
					userId : {
						required : "아이디를 입력하시오.",
						minlength : jQuery.format("아이디는 {0}자 이상 입력해주세요!"),
						remote : jQuery.format("입력하신 {0}는 이미존재하는 아이디입니다. ")
					},
					userPw : "암호를 입력하시오.",
					userPw2 : {
						required : "암호확인를 입력하시오.",
						equalTo : "암호를 다시 확인하세요"
					},

					nickName : {
						required : "닉네임을 입력하시오."
					},
					birth : {
						required : "생년월일을 입력하시오."
					},

					gender : {
						required : "성별을 선택해 주세요 ."
					}
				},

				submitHandler : function() {
					$.ajax({
						url : 'join',
						type : 'POST',
						data : $("#registerForm").serialize(),
						success : function() {
							alert("success")
						},
						error : function() {
							alert("fail");
						}
					})
				}

			});
		});
		/* $("#join").click(function(){
		console.log("lod");
					$.ajax({
						url : 'join',
						type : 'POST',
						data : $("#registerForm").serialize(),
						success : function() {
							alert("success")
						},
						error : function() {
							alert("fail");
						}
					})
		}); */
		//end ready()
	</script>


	<!-- <div class="title"> -->
	<h1>회원가입</h1>
	<hr>
	<!-- </div> -->
	<!-- <div class ="content"> -->
	<form name=joinform method="post" id="registerForm">

		<div>
			<td>아이디</td> <input type="email" id="userId" name="userId"
				placeholder="이메일 @까지 입력해주세요"> <input type="button"
				id="id_btn" value="중복확인" /> </br>

		</div>
		<tr>
			<td colspan=3 id="idCheck"></td>
		</tr>


		<label>비밀번호</label> <input type="password" name="userPw" id="userPw"
			class="form-control" required placeholder="영문+숫자 조합 8~16자리"
			maxlength="16" /> <br> <label>재확인</label> <input
			type="password" name="userPw2" id="userPw2" maxlength="12"
			class="form-control" placeholder="비밀번호 확인" required /> <br>

		<div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지
			않습니다.</div>
		<div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
		<tr>

			<div>
				<td>닉네임</td> <input type="text" name="nickName" placeholder="닉네임"
					id="nickName"> <span th:text="${valid_nickName}"></span> <input
					type="button" id="nick_btn" value="중복확인" /></br>
			</div>

			<div>
				<td>생년월일</td> <input type="date" name="birth" /><br>
			</div>

			<div>
				<td>성별</td> <input type="radio" name="gender" id="sex-1"
					value="true" checked> 여성 <input type="radio" name="gender"
					id="sex-2" value="false" checked> 남성
			</div>


			<div>

				<!-- <button type="button" class="btn btn-secoary btn-large form-control">뒤로가기</button> -->
				<button type="submit" id="join">회원가입</button>

			</div>
	</form>


	<hr class="separator" />
	<div>
		<h1>CookingTalking</h1>
		<p>@2020 All Rights Reserved.</p>
	</div>





</body>
</html>