<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<link rel="stylesheet" type="text/css" href="/css/fragmentCss/bootstrap_20200413.css">
<link rel="stylesheet" type="text/css" href="/css/fragmentCss/ez_recipe_20200605.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
.gnb_search {
	width: 450px;
	display: inline-block;
	padding-top: 20px;
}
</style>
</head>
<th:block layout:fragment='CSS'></th:block>
 <header th:replace="~{fragments/header :: header}"></header> 
<div layout:fragment='content'></div>


 <footer th:replace="~{fragments/footer :: footer}"></footer>
<div layout:fragment='scriptCode'></div>

</html>