<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head >
	<th:block th:replace='fragments/config :: config'></th:block>
</head>
<th:block layout:fragment='CSS'></th:block>
<header th:replace="fragments/header :: header"></header>

<div layout:fragment='content'></div>


<footer th:replace='fragments/footer :: footer'></footer>

<script type="text/javascript">
$('#srhRecipeText').keydown(function(){
	var k=$('#srhRecipeText').val();
	console.log(k);
	$.ajax({
		url:'/autoComplete',
		data:{searchWord:k},
		type:'POST',
		dataType:'JSON',
		success:function(data){
			console.log(data);
			$('#srhRecipeText').autocomplete({
				source:data,
			});
			},
		error:function(){
			alert("error");
		}
	})
});
</script>
<div layout:fragment='scriptCode'></div>
</html>