<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/js/yujin/talk.js"></script>

<title>게시판 상세</title>
<script type="text/javascript">
	$(function() {
		comment();

	});
	function comment() {
		$('comment_btn')
		on('click', function() {
			$.ajax({
				url : 'talk.createCom',
				type : 'post',
				data : {
					userId : '${talkcom.userId}',
					talkCom : '${talkcom.talkCom}'.val(),
					talkComDate : '${talkcom.talkComDate}',
				}

			}).done(function(data) {
				alert('등록되었습니다');
				location.reload();
			})

		})

	}
</script>


</head>
<body th:object="${talkComCode}">


	<section class="content container-fluid">
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="box header with-border">

					<form method="post" th:action="@{/com/comInsert}"></form>
					<tr>
						<th>작성자</th>
						<th>내용</th>
						<th>날짜</th>
						<th>코드</th>

					</tr>

					<tbody>


						<tr th:each="talkcom : ${createCom}" var="commnet">
							<td><input readonly="readonly" name="userId"
								th:value="${talkcom.userId}"></td>
							<td><input name="talkCom" th:value="${talkcom.talkCont}"></td>
							<td><input name="talkComDate" th:value="talkcom.talkComDate"></td>
							<td><input type="hidden" name="talkComCode"
								th:value="talkcom.talkComCode"></td>
							<td><input name="talkCode" th:value="talkcom.">
						</tr>
					</tbody>

					<div>
						<textarea id="comment_cont" rows="4" cols="50"
							placeholder="댓글을 입력해주세요" class="btn-btn" maxlength="100"></textarea>
						<button type="button" id="comment_btn">작성하기</button>

					</div>


				</div>
			</div>



			<div class="modal fade" id="updateModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>

							<h4 class="model-title">댓글 수정 창</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">

								<label for="comNo">댓글 번호</label> <input class="form-control"
									id="comNo" name="comNo" readonly="readonly">
							</div>
							<div class="form-group">
								<label for="comText">댓글 내용</label> <input class="form-control"
									id="comText" name="comText" placeholder="댓글 내용을 입력해주세요 ">
							</div>
							<div class="form-group">
								<label for="comText">댓글 작성자</label> <input class="form-control"
									id="comUser" name="comUser" readonly="readonly">
							</div>
						</div>

						<div class="modal=footer">
							<button type="button" class="btn btn-default pull-left"
								data-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-success modalModBtn">수정
							</button>
							<button type="button" class="btn btn-danger modalModBtn">삭제</button>

						</div>
					</div>
				</div>
			</div>
	</section>


	<div class="box bpx-warning">
		<div class="box-header with-border">
			<a class="link-black text-lg"><i class="fa fa-pencil"></i>댓글작성</a>
		</div>


	</div>




	</tbody>

	</table>
	<div style="width: 650px; text-align: center;">
		<th:block sec:authorize="isAuthenticated()">
			<input id="talk-code" type="hidden" th:value="${talkCode.talkCode}">

			<div th:if="${#authentication.principal.username} == *{userId}">
				<a th:href="@{/talk/updatePage(talkCode=${talkCode.talkCode})}">수정</a>

				<button type="button" id="btnDelete">삭제</button>
			</div>
		</th:block>
		<!-- <span th:text="${#authentication.principal}"></span> -->

		</th:block>
	</div>
	</form>


</body>

</html>