<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/js/yujin/talk.js"></script>

<title>게시판 상세</title>

 <script type="text/javascript">




</script> 

<style>
#modifyCom{
width:600px;
height:130px;
background-color: gray;
padding:  10px;
z-index: 10;
visibility: hidden;

}



</style>

</head>
<body th:object="${talkCode}">
	<h2>게시글 보기</h2>
	<form name="form1" method="post">
		<table border="1" width="900px">
			<thead>
				<tr>
					<th>내용</th>
					<th>아이디</th>
					<th>시간</th>
					<th>사진</th>
					<th>좋아요</th>
					<th>댓글</th>
				</tr>
			</thead>
			<tbody>
				<a th:href="@{/talk/list}"
					class="btn btn-default waves-effect waves-light">뒤로가기</a>

				<tr>
					<td th:text="${listCom.talkCont}"></td>
					<td th:text="${listCom.nickName}"></td>
					<td th:text="${listCom.talkDate}"></td>
					<td th:text="${listCom.talkVideo}"></td>
					<td th:text="${listCom.talkLike}"></td>
					<td th:text="${listCom.talkCom}"></td>
				</tr>



				</div>
			</tbody>
		</table>
		<div style="width: 650px; text-align: center;">
			<th:block sec:authorize="isAuthenticated()">
				<input id="talk-code" type="hidden" th:value="${talkCode.talkCode}">

				<div th:if="${#authentication.principal.username} == *{userId}">
					<a th:href="@{/talk/updatePage(talkCode=${talkCode.talkCode})}">수정</a>

					<button type="button" id="btnDelete">삭제</button>
				</div>
			</th:block>
			<!-- <span th:text="${#authentication.principal}"></span> -->
			</th:block>
		</div>



	</form>
	<br>

	<table>
		<div style="width: 650px; text-align: center;">
			<div class="box bpx-warning">
				<div class="box-header with-border">

					<a class="link-black text-lg"><i class="fa fa-pencil"></i>댓글작성</a>
				</div>
				<br>
				<!-- <tr th:if="${sessionScope.userId !=null}"> -->
				<textarea rows="5" cols="80" id="talk-comment"
					placeholder="댓글을 작성해주세요 "></textarea>
				<br>

				<button type="button" id="btn_comment">댓글작성</button>
				<br> <br>

				<div id="docs_comment_list_area">
					<div th:each="com : ${listCom.talkComs}">
						<span th:text="${com.nickName}"></span> <span
							th:text="${com.talkCom}"></span>
							<div th:if="${#authentication.principal.username} == ${com.userId}">
								<button type="button" id="com_update" onclick="showUpdateCom($'com.talkCom')">수정</button>
								<button type="button" id="com_Delete" th:value='${com.talkComCode}'>삭제</button>
							</div>
						<!-- <span th:text="${com.talkComDate}"></span> -->
					</div>
				</div>
			</div>
	</table>






<!-- 	<th:block sec:authorize="isAuthenticated()">
		<input id="talkcom_code" type="hidden" th:value="${talkCode.talkCom}">
	
		<div th:if="${#authentication.principal.username} == ${.userId}">
		
			<button type="button" id="com_update" onclick="showUpdateCom($'com.talkCom')">수정</button>
			<button type="button" id="com_Delete">삭제</button>
		</div>
	</th:block>
 -->

<div id="modifyCom"></div>

</body>
</html>