<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>게시판 상세</title>

<script type="text/javascript">
$(document).ready(function(){
$("btnDelete").click(function(){
	if(confirm("삭제하시겠습니까?")){
		document.form1.action="${path}/talk/delete";
		document.form1.submit	();
	}
});
$("btnUpdate").click(function(){
	if(confirm("수정하시겠습니까?")){
var content=${"talkCont"}.val();
if(content==""){
	alret("내용을 입력하세요 ");
document.form1.content.focus();
return;
	}
document.form1.action="${path}/talk/update"
document.form1.submit();
	
	});
});
</script>
</head>
<body th:object="${talkCode}">
	<h2>게시글 보기</h2>
	<form name="form1" method="post">
		<table border="1" width="600px">
			<thead>
				<tr>
					<th>내용</th>
					<th>아이디</th>
					<th>시간</th>
					<th>댓글</th>
				</tr>
			</thead>
			<tbody>

				<button>
					<a th:href="@{talk/list}">목록</a>
				</button>

				<tr th:each="talk : ${talkCode}">
					<td th:text="${talk.talkCont}"></td>
					<td th:text="${talk.userId}"></td>
					<td th:text="${talk.talkDate}"></td>
					<td th:text="${talk.talkCom}"></td>

				</tr>


			</tbody>
		</table>
		<div style="width: 650px; text-align: center;">
			<th:block sec:authorize="isAuthenticated()">

				<div th:if="${#authentication.principal.username} == *{userId}">
					<a th:href="@{/talk/update}">수정</a>
					<button type="button" id="btnDelete">삭제</button>
				</div>
			</th:block>
			<!-- <span th:text="${#authentication.principal}"></span> -->

			</th:block>
		</div>
	</form>


</body>

</html>