<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- XHTML 문서를 위한 XML 네임스페이스를 명시하는 것으로, 생략해도 정상동작 -->
<head>
<meta charset="UTF-8">
<title>글 수정</title>


<script type="text/javascript">
	
</script>

</head>
<body>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- <div th:insert="talk/header.html" id="header"></div> -->


	<form class="form-horizontal" th:action="@{/talk/update}" method="post">
		<table>
			<thead>
				<tr>
					<th>내용</th>
					<th>아이디</th>
					<th>시간</th>
					<th>댓글</th>
				</tr>
			</thead>
			<tbody>


				<tr th:each="talk : ${talkupdate}">
					<td><input name="talkCont" th:value="${talk.talkCont}"></td>
					<td> <input readonly="readonly" name="userId" th:value="${talk.userId}"></td>
					<td><input readonly="readonly" name="talkDate" th:value="${talk.talkDate}"></td>
					<td><input readonly="readonly" name="talkCom" th:value="${talk.talkCom}"></td>
					<input type="hidden" th:value="${talk.talkCode}" name="talkCode">
				</tr>
			</tbody>

		</table>

		<button type="submit" > 등록</button>
	</form>




	</form>


</body>
</html>






