<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{css/soobin/chefRank.css}">
</head>
<body>
<table>
<thead > 
<tr>
Chef Rank
</tr>
<tr>
<th>순위</th><th>닉네임</th><th>이미지</th><th>레시피수</th><th>팔로워수</th><th>조회수</th>
</tr>
</thead>
<tbody>
<tr th:each="chef,index:${chefList}">
<td th:text="${index.index}+1"></td>
<td th:text="${chef.userVO.nickName}"></td>
<td th:text="${chef.userVO.userPic}"></td>
<td th:text="${chef.userVO.rcpUploads}"></td>
<td th:text="${chef.userVO.followers}"></td>
<td th:text="${chef.rcpViews}"></td>

</tr>
</tbody>
</table>
</body>
</html>