<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<br>
<table border=1>
<thead>chef info</thead>
<tbody>
<tr><td th:text="${follow}"></td></tr>
<tr th:each="chef:${chefDetail}">
<td th:text="${chef.userVO.nickName}"></td>
<td th:text="${chef.userVO.userPic}"></td>
<td th:text="${chef.userVO.rcpUploads}"></td>
<td th:text="${chef.userVO.followers}"></td>
<td th:text="${chef.rcpViews}"></td>
</tr>
<tr th:each="recipe:${chefInfo}">
<td th:text="${recipe.rcpTitle}"></td>
<td th:text="${recipe.rcpPic}"></td>
</tr>


</tbody>
</table>
</body>
</html>