<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>건호 리스트 뿌리기</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

	<div class="adSelectPage" id="adSelectPage">
		<!-- 재료 리스트 가져오기 -->
		<button onclick="adQnaList()">고객요청함</button>
	</div>
	<div class="adSelectPage" id="adSelectPage">
		<button onclick="adUserList()">회원정보</button>
	</div>

	<!-- 레시피 화명 이동 버튼 -->
	<div class="adSelectRcpPage" id="adSelectPage">
		<div class="w3-dropdown-hover">
			<button class="w3-button w3-black">레시피</button>
			<div class="w3-dropdown-content w3-bar-block w3-border">
				<a href="#" class="w3-bar-item w3-button">레시피 리스트</a> <a href="#"
					class="w3-bar-item w3-button">레시피 통계</a>
			</div>
		</div>
	</div>


	<div class="adSelectPage" id="adSelectPage">
		<button onclick="adIngrList()">재료페이지</button>
	</div>
	<br>
	<br>
	

	<div id="basic">


		<table border="1" id="mainTable">

			<div>
				<div class="123">
					<div class="qna_title">문의사항제목</div>
					<div class="qna_date">문의 날짜</div>
					<div class="qna_user">유저</div>
					<div class="qna_OX">답변 유무</div>
				</div>

				<div th:each="qna:${qnaList}">
					<div class="result_Title" th:text="${qna.qnaTitle}">문의 사항 제목</div>
					<!-- 				<div class ="result_Comment" th:text="${qnaList.qnaCont}">문의 내용</div> -->
					<div class="result_Date" th:text="${qna.qnaDate}">문의 날짜</div>
					<div class="result_userId" th:text="${qna.userId}">유저</div>
					<div>답변유무</div>

				</div>

			</div>
		</table>

	</div>


	<script>
		$(".accordion-row").on("click", function() {

			var accordionRow = $(this).next(".accordion");
			if (!accordionRow.is(":visible")) {
				accordionRow.show().find(".accordion-content").slideDown();
			} else {
				accordionRow.find(".accordion-content").slideUp(function() {
					if (!$(this).is(':visible')) {
						accordionRow.hide();
					}
				});
			}
		});

		function slideComment() {
			$(document).ready(function() {
				$(".btn2").click(function() {
					$("admin/adminMain3").load("admin/adminMain3").slideUp();
				});
				$(".btn1").click(function() {
					$("adminMain3").load("admin/adminMain3").slideDown();
				});
			});

		};

		function adUserList() {
			$('#mainTable').remove();
			$('#basic').load("admin/adUser");

			/* $.ajax({ // ajax 유틸리티가 이하의 내용을 확인
					url : './admin/adUser', // url: 요청할 URL 주소
					// data: 요청할 때 서버에 보낼 자바스크립트 객체 맵이나 문자열 형식의 데이터
					type : "GET",

					success : function() { // success: 요청이 성공했을 때 호출할 콜백 함수
						alert("회원정보를 불러왔습니다.");

					},
					error : function() {
						alert("실패");
					}
				}); */

		};
		//고객요청함 불러오기
		function adQnaList() {
			$('#mainTable').remove();
			$('#basic').load("admin/adQnaList");
			/* 		$.ajax({ // ajax 유틸리티가 이하의 내용을 확인
						url : './admin/adQnaList', // url: 요청할 URL 주소
						// data: 요청할 때 서버에 보낼 자바스크립트 객체 맵이나 문자열 형식의 데이터
						type : "GET",

						success : function() { // success: 요청이 성공했을 때 호출할 콜백 함수
							alert("고객요청함을 불러왔습니다.");

						},
						error : function() {
							alert("실패");
						}
					}); */

		};
		//재료 추가함 불러오기 		
		function adIngrList() {
			$('#mainTable').remove();
			$('#basic').load("admin/adIngrList");
			/* $.ajax({ // ajax 유틸리티가 이하의 내용을 확인
				url : './admin/adIngrList2', // mapping 한 주소
				// data: 요청할 때 서버에 보낼 자바스크립트 객체 맵이나 문자열 형식의 데이터
				type : "GET",

				success : function() { // success: 요청이 성공했을 때 호출할 콜백 함수
					alert("재료추가함을 불러왔습니다.");
					$('#qnaListTable').remove();
					$('#basic').load("admin/adIngrList2"); //return 값, html의 파일명

				},
				error : function() {
					alert("실패");
				}
			}); */

		};
	</script>
</body>
</html>