<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>건호 리스트 뿌리기</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<div>
	<h1>고객센터 문의함</h1>
</div>

<body>
	<div id="basic">

		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">문의사항제목</th>
					<th scope="col">문의 내용</th>
					<th scope="col">문의 날짜</th>
					<th scope="col">유저</th>
				</tr>
			</thead>
			<tbody th:each="qna, qnaStat:${adQnaList}" th:id='${qnaStat.index}'>
				<tr>
					<td scope="row">
						<button type="button" class="btn" th:text="${qna.qnaTitle}"
							th:id="|btn_open${qnaStat.index}|" name="btn_qna"></button>
					</td>
					<td scope="row">
						<div th:text="${qna.qnaCont}"></div>
					</td>
					<td scope="row">
						<div th:text="${qna.qnaDate}"></div>
					</td>
					<td scope="row">
						<div th:text="${qna.UserId}"></div>
					</td>

				</tr>
				<tr th:id="|open${qnaStat.index}|" class="collapse out">
					<td colspan="4"><div>
							작성자 :<input
								style="background-color: transparent; border: 0 solid black;"
								th:id="|UserId_answer${qnaStat.index}|" name="userId"
								th:value="${qna.userId}" readonly>
							<div th:text="${qna.answer}"></div>
							<input type="text" th:id="|answer_answer${qnaStat.index}|"
								th:name="answer" th:value="${qna.answer}"
								placeholder="답글을 입력하세요">
							<div>
								<button type="button" th:id="|button_answer${qnaStat.index}|"
									th:name="button_button" class="insert_answer_btn">답변하기</button>
							</div>
						</div></td>

				</tr>
			</tbody>
		</table>
		<ul>
			<div th:class="Pagination_Li">
				<div th:each="num: ${#numbers.sequence(1,IngrList)}" th:class="page">
					<a th:text="${num}" th:value="${num}" style="color: #FF8000;"></a>
				</div>
			</div>
		</ul>

	</div>
</body>
<!--  		var user_Id = document.getElementsByName("userId");  -->
<script>
	$(document).ready(function() {

		var cc = 700;
		for (var i = 20; i < cc; i++) {
			$('#' + i).hide();
		}
	});
</script>
<script>
	$('.page').click(function(event) {
		var k = event.target.text;
		console.log(k);
		for (var i = 0; i < 670; i++) {
			$('#' + i).hide();
		}
		for (var i = 0; i < 20; i++) {
			$('#' + ((parseInt(k) - 1) * 20 + parseInt(i))).show();
			console.log(k + i);
		}
	});
</script>
<script type="text/javascript">
	$(".insert_answer_btn").click(function() {
		var reply = $(this).attr('id').substring(7);

		var UserID = document.getElementsByName('userId');
		var UserID = document.getElementById('UserId_' + reply);
		var answer_reply = document.getElementById('answer_' + reply);
		console.log(reply);
		console.log(UserID.value);

		$.ajax({
			url : '/admin/qnaAnswer',
			method : "POST",
			data : {
				answer : answer_reply.value,
				userId : UserID.value
			},
		}).done(function(response) {
			location.reload();
		});
	});
</script>
<script>
	$(".btn").click(function() {
		var k = $(this).attr('id').substring(4);
		//#은 아래 th:id 값을 나타내는것이므로, #하나+k(|btn_open${qnaStat.index}|에서 앞에 4글자를 뺀 글자.)로 결국에는  아이디. hasclass("out")가 가능해진다. 
		if ($("#" + k).hasClass("out")) {
			$("#" + k).addClass("in");
			$("#" + k).removeClass("out");
		} else {
			$("#" + k).addClass("out");
			$("#" + k).removeClass("in");
		}
	});
</script>
</html>

