<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>건호 리스트 뿌리기</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<br>
<br>

<div>
	<h1>고객센터 문의함</h1>
</div>

<body>
	<div id="basic">

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>문의사항제목</th>
					<th>문의 내용</th>
					<th>문의 날짜</th>
					<th>유저</th>
					<th>답변 유무</th>
				</tr>
			</thead>
			<tbody th:each="qna:${adQnaList}">
				<tr>
					<td>
						<button type="button" class="btn" th:text="${qna.qnaTitle}"
							th:id="|btn_open${qnaStat.index}|" name="btn_qna"></button>
					</td>
					<td>
						<div th:text="${qna.qnaCont}"></div>
					</td>
					<td>
						<div th:text="${qna.qnaDate}"></div>
					</td>
					<td>
						<div th:text="${qna.UserId}"></div>
					</td>
					<td>
						<div>답변유무</div>
					</td>

				</tr>
				<tr th:id="|open${qnaStat.index}|" class="collapse out">
					<td><div>작성자</div>
						<div>
							<input th:id="|UserId_answer${qnaStat.index}|" name="userId"
								th:value="${qna.userId}" readonly>
						</div></td>
					<td><div th:text="${qna.answer}"></div></td>
					<td><input type="text" th:id="|answer_answer${qnaStat.index}|"
						th:name="answer" th:value="${qna.answer}" placeholder="답글을 입력하세요">
					</td>
					<td><button type="button"
							th:id="|button_answer${qnaStat.index}|" th:name="button_button"
							class="insert_answer_btn">답변하기</button></td>
					<td><div></div></td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
<!--  		var user_Id = document.getElementsByName("userId");  -->
<script type="text/javascript">
	$(".insert_answer_btn").click(function() {
		var reply = $(this).attr('id').substring(7);

		var UserID = document.getElementsByName('userId');
		var UserID = document.getElementById('UserId_' + reply);
		var answer_reply = document.getElementById('answer_' + reply);
		console.log(reply);
		console.log(UserID.value);

		$.ajax({
			url : '/admin/qnaAnswer',
			method : "POST",
			data : {
				answer : answer_reply.value,
				userId : UserID.value
			},
		}).done(function(response) {
			alert("문의사항 답변을 작성하였습니다.")
			location.reload();
		});
	});
</script>
<script>
	$(".btn").click(function() {
		var k = $(this).attr('id').substring(4);
		//#은 아래 th:id 값을 나타내는것이므로, #하나+k(|btn_open${qnaStat.index}|에서 앞에 4글자를 뺀 글자.)로 결국에는  아이디. hasclass("out")가 가능해진다. 
		if ($("#" + k).hasClass("out")) {
			$("#" + k).addClass("in");
			$("#" + k).removeClass("out");
		} else {
			$("#" + k).addClass("out");
			$("#" + k).removeClass("in");
		}
	});
</script>
</html>

