<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>레시피 모두 보기</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-dropdown-hover:first-child, .w3-dropdown-click:hover{
	background-color:#e2e6ea;
	
	}
	</style>
</head>

<body>
	<h1>레시피 페이지</h1>
	<div class="searchIngr_for_table" id="allIngrPage">
		<form method="POST">
			<input type="text" id="searchId" name="searchId"
				th:value="*{searchId}" placeholder="유저 아이디를 입력하세요">

			<button class="btn btn-outline-warning" type="button"
				id="btn_adNickName">검색하기</button>

			<div th:id="ingr_Name_List">
				<table class="table table-bordered" id="searchId2" border="1" style="text-align:center;">
					<thead>
						<tr>
							<th>레시피 고유식별 번호</th>
							<th>레시피 제목</th>
							<th>작성자</th>
							<th>카테고리</th>
						</tr>
					</thead>
				</table>
			</div>
		</form>



	</div>
	<br>
	<div id="basic">
		<table class="table table-bordered" style="text-align:center;">
			<thead>
				<tr>
					<th>레시피 고유식별번호</th>
					<th>레시피 제목</th>
					<th>작성자</th>
					<th>카테고리</th>
					<th>레시피 등록 날짜</th>
					<th>삭제</th>
				</tr>
			</thead>

			<tbody th:each="rcp, rcpStat:${rcpList}" th:id='${rcpStat.index}' style=>
				<tr>
					<td><div th:text="${rcp.rcpCode}"></div></td>
					<td><div th:text="${rcp.rcpTitle}"></div></td>
					<td><div th:text="${rcp.userId}"></div></td>
					<td><div th:text="${rcp.typeCode}"></div></td>
					<td><div th:text="${rcp.rcpDate}"></div></td>
					<td><button class="btn btn-danger" th:class="delete_btn" th:value="${rcp.rcpCode}">
							레시피 삭제</button></td>
				</tr>
			</tbody>
		</table>
		<div th:class='Pagination_Li'>
			<ul>
				<div th:class="Pagination_Li">
					<div th:each="num: ${#numbers.sequence(1,IngrList)}"
						th:class="page">
						<a th:text="${num}" th:value="${num}"
							style="color: #FF8000; display: inline; cursor: pointer;" ></a>
					</div>
				</div>
			</ul>
		</div>
	</div>
</body>
<script th:inline="javascript">
	$(".delete_btn").click(function() {
		/*          alert($(this).attr('value')); */
		var rcpCode = $(this).attr('value');

		if (confirm($(this).attr('value') + "를 삭제 하시겠습니까?")) {
			$.ajax({
				url : './admin/deleteRcp',
				data : {
					rcpCode : rcpCode
				},
				method : "POST",
			}).done(function(response) {
				$('#basic').load("admin/listRcp");
			});
		} else {
			return false;
		}

	});
</script>
<script>
	$('#btn_adNickName').on(
			'click',
			function() {
				var searchId;
				var input = document.getElementById("searchId").value;

				var searchId = document.getElementById("searchId").value
				$.ajax({
					type : "POST",
					url : "/admin/searchId",
					data : {
						userId : searchId

					},
					success : function(data) {
						$(".table243").remove();
						$.each(data, function(index, rcp) {
							var str = '<tr class="table243"><td>' + rcp.rcpCode
							+ '</td><td>' + rcp.rcpTitle + '</td><td>'
							+ rcp.userId + '</td><td>' + rcp.typeCode
							+ '</td></tr>';
							console.log(rcp.rcpCode);
							console.log(index);
							console.log(data);
							$("#searchId2").append(str);

						});

					},
					error : function(data) {
						alert("Error!");
					}

				});
			});
</script>
<script>
	$(document).ready(function() {

		var cc = 700;
		for (var i = 20; i < cc; i++) {
			$('#' + i).hide();
		}
	});
</script>
<script>
	$('.page').click(function(event) {
		var k = event.target.text;
		console.log(k);
		for (var i = 0; i < 670; i++) {
			$('#' + i).hide();
		}
		for (var i = 0; i < 20; i++) {
			$('#' + ((parseInt(k) - 1) * 20 + parseInt(i))).show();
			console.log(k + i);
		}
	});
</script>


</html>