<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원정보 로드하기</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</head>
<body>
	<h2>회원정보 보이기, 수정하기</h2>
	<div id="basic">

		<table border="1" id="IngrTable">

			<thead>
				<tr>
					<th>유저 아이디</th>
					<th>유저 닉네임</th>
					<th>유저 생일</th>
					<th>유저 성별</th>
					<th>유저 or 관리자</th>
					<th>인증 확인</th>
					<th>유저 프로필 사진</th>
					<th>레시피 업로드 개수</th>
					<th>유저 팔로워 수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userList:${UserList}">
					<td><input type="checkbox" name="delete_user_ids"
						value="${data.user_id}" /></td>

					<td th:text="${userList.userId}">유저 아이디</td>
					<td th:text="${userList.nickName}">유저 닉네임</td>
					<td th:text="${userList.birth}">유저 생일</td>
					<td th:text="${userList.gender}">유저 성별</td>
					<td th:text="${userList.access}">유저 or 관리자 확인</td>
					<td th:text="${userList.auth}">인증 확인</td>
					<td th:text="${userList.userPic}">유저 프로필 사진</td>
					<td th:text="${userList.rcpUploads}">레시피 업로드 개수</td>
					<td th:text="${userList.followers}">유저 팔로워 수</td>
				</tr>
			</tbody>
		</table>

	</div>
	
	
	<script>
	//자바 스크립트 ajax 실행해야합니다. https://onecutwook.tistory.com/5
	function deleteReport(){
        var cnt = $("input[name='reportChkBxRow']:checked").length;
        var arr = new Array();
        $("input[name='reportChkBxRow']:checked").each(function() {
            arr.push($(this).attr('id'));
        });
        if(cnt == 0){
            alert("선택된 글이 없습니다.");
        }
        else{
            $.ajax = {
                type: "POST"
                url: "OOOO.do"
                data: "RPRT_ODR=" + arr + "&CNT=" + cnt,
                dataType:"json",
                success: function(jdata){
                    if(jdata != 1) {
                        alert("삭제 오류");
                    }
                    else{
                        alert("삭제 성공");
                    }
                },
                error: function(){alert("서버통신 오류");}
            };
        }
    }
	
	 </script>
</body>
</html>