div p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10px;
  height: 20px;
}
.story_list_caption_tit{
display: inline-block;

text-overflow: ellipsis;

white-space: nowrap;

overflow: hidden;

width: 200px;
}


