<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/css/login/login.css">
<title>Insert title here</title>

<style type="text/css"></style>
<script type="text/javascript">

type = "text/javascript" > $(document).ready(function(e) {
	$('#login').click(function() {

		// 입력 값 체크
		if ($.trim($('#userId').val()) == '') {
			alert("아이디를 입력해 주세요.");
			$('#userId').focus();
			return;
		} else if ($.trim($('#userPw').val()) == '') {
			alert("패스워드를 입력해 주세요.");
			$('#userPw').focus();
			return;
		}

		//전송
		$('#login').submit();
	});

	//회원가입 버튼
	$('#Join').click(function() {
		location.href = "goJoin";
	});</script>
<meta id="_csrf" name="_csrf" content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	content="${_csrf.headerName}" />
</head>



<body>

	<div class="nav_etc">

		<img src="img/logo.png"></a>
	</div>
	<div class="container_etc" style="width: 460px;">
		<h2>로그인</h2>
		<form action="/login" method="post">
			<table class="btn-lg">
				<tbody>
					<div class="form-group">
						<tr>
							<td><input type="text" name="username"
								class="form-control btn-lg form-group" placeholder="아이디"></td>
					</div>
					</tr>
					<tr>
						<div>
							<td><input type="password" name="password"
								class="form-control btn-lg" placeholder="비밀번호"></td>
					</tr>
					</div>
					<tr>
						<td colspan="2"></td>
					</tr>
					<tr>
						<td colspan="1">
					</tr>

				</tbody>
			</table>

			<br> <br>
			<div class="etc_line"></div>
			<br> <br>

			<button name="submit" type="submit"
				class="btn-primary btn-lg btn-block">로그인</button>

			<button name="submit" type="button"
				class="btn-primary btn-lg btn-block">
				<a th:href="@{/join}">회원가입</a>
			</button>
		</form>
<br>
<br>
		<div id="naver_id_login" style="text-align: center"
			 >
			<a th:href="@{${naver_url}}"> <img width="223"
				src="https://developers.naver.com/doc/review_201802/CK_bEFnWMeEBjXpQ5o8N_20180202_7aot50.png" />
			</a>
		</div>
		<!-- <div th:text="${naver_url}"></div> -->

	</div>
</body>
</html>