<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지(정민)</title>
<style type="text/css"></style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<!-- 사진 및 계정 정보 -->
			<div th:class="uploadPicOfUser">
			<form action="" method="POST" enctype="multipart/form-data">
				<input type="file" name="picOfUser" required>
				<button type="submit">변경하기</button>
			</form>
		</div>
	<a href="/userModify.html">회원 정보 수정</a>
	
	<div id="myPageMain">
	<div class="myMenu">
	<button onclick="myRecipe()">레시피</button>
	<button onclick="myFrequent()">즐겨찾기</button>
	<button onclick="myActivity()">활동</button>
	<button onclick="myInquiry()">문의 사항</button>
	</div>
	
	<div id="myRecipe">
		<button onclick="myActivity()">내가 쓴 토크</button>
		<button onclick="myCom()">내가 작성한 댓글</button>
		<div class="sorting">
		<form>
		<select name="com">
		<option value="all">-전체보기-</option>
		<option value="onlyTalk">토크에 단 댓글</option>
		<option value="onlyRcp">레시피에 단 댓글</option>
		
		</select>
		</form>
		</div>
			<form onsubmit="return false">
				<input type="text" onsubmit="return false" title="댓글검색"
					id="comSearchInMy" name="comSearchInMy" placeholder="댓글을 검색하세요"
					onkeypress="enterkey(event);">
				<button type="button" onclick="myAllComSearch();" id="btnComSearchInMy">검색</button>
			</form>

		</div>
	</div>
	<div id="myActivity">
	<div id="myAllComMain">
	<table>
	<tbody>
	
	<tr th:each="myAllCom : ${myAllCom}">
		<td class="" th:text=${myAllCom.talkCom}></td>
		<td class="" th:text=${myAllCom.talkComDate}></td>
<!-- 	</tr>
		<tr th:each="myRcpCom : ${myRcpCom}">
		<td class="" th:text=${myRcpCom.rcpCom}></td>
		<td class="" th:text=${myRcpCom.rcpComDate}></td>
	</tr> -->
	</tbody>
	</table>
		</div>
		</div>
</body>
</html>