<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title id='pageTitle'>마이페이지(정민)</title>
<style type="text/css"></style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<!-- 사진 및 계정 정보 -->
	<div id="myPageMain">
	
	<div th:class="uploadPicOfUser">
				<button onclick="window.open('/mypage/userPic','myPic','width=300px, height=300px, location=no, status=no, scrollbars=no');">사진변경하기</button>
		</div>
	<a href="/userModify.html">회원 정보 수정</a>
	
	<div class="myMenu">
	<button onclick="myRecipe()">레시피</button>
	<button onclick="myFrequent()">즐겨찾기</button>
	<button onclick="myActivity()">활동</button>
	<button onclick="myInquiry()">문의 사항</button>
	</div>
	
	<div id="myRecipe">
		<button onclick="myActivity()">내가 쓴 토크</button>
		<button onclick="myCom()">내가 작성한 댓글</button>
		<div class="sorting">
		<form>
		<select name="com" id="comSelect">
		<option id="allCom" value="allCom">-전체보기-</option>
		<option id="onlyTalk" th:value="onlyTalk">토크에 단 댓글</option>
		<option id="onlyRcp" value="onlyRcp">레시피에 단 댓글</option>
		</select>
		</form>
		</div>
			<form onsubmit="return false">
				<input type="text" onsubmit="return false" title="댓글검색"
					id="comSearchInMy" name="comSearchInMy" placeholder="댓글을 검색하세요"
					onkeypress="enterkey(event);">
				<button type="button" onclick="myAllComSearch();" id="btnComSearchInMy">검색</button>
			</form>

		</div>
	
	<div id="myActivity">
	<div th:id="myAllComMain">
	<table>
	<tbody>
	
	<tr th:each="myAllCom : ${myAllCom}">
		<td> <a href="" class="" th:text=${myAllCom.talkCom}></td>
		<td class="" th:text=${myAllCom.talkComDate}></td>
		</tr>
		
		

	</tbody>
	</table>
		</div>
		</div>
		</div>
</body>
</html>