<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title id='pageTitle'>마이페이지(정민)</title>
<style type="text/css"></style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<!-- 사진 및 계정 정보 -->
			<div th:class="uploadPicOfUser">
			<form action="" method="POST" enctype="multipart/form-data">
				<input type="file" name="picOfUser" required>
				<button type="submit">변경하기</button>
			</form>
		</div>
	<a href="/userModify.html">회원 정보 수정</a>
	
	<div id="myPageMain">
	<div class="myMenu">
	<button onclick="myRecipe()">레시피</button>
	<button onclick="myFrequent()">즐겨찾기</button>
	<button onclick="myActivity()">활동</button>
	<button onclick="myInquiry()">문의 사항</button>
	</div>
	</div>
	
	<div th:class="myFrequentMain">
	<div id="myFollow">
		<button onclick="myFrequent()">팔로우</button>
		<button onclick="myScraped()">스크랩한 레시피</button>
		<!-- chef search -->
		<form onsubmit="return false">
		<input type="text" onsubmit="return false" title="쉐프검색" 
		id="chefSearchInMy" name="chefSearchInMy" placeholder="쉐프를 검색하세요" 
		onkeypress="enterkey(event);">
		<button type="button" onclick="chefSearch();"id="btnChefSearchInMy">검색</button>
		</form>
	</div>
		<div th:id="myFrequent">
			<div th:id="myChefMain">
				<table>
					<tbody>
<!-- 						<div class="myRecipeIng_img">레시피 사진</div>
						<div class="myRecipeIng_title">레시피 제목</div> -->


						<tr th:each="myFollow : ${myFollow}">
							<td th:text=${myFollow.nickName}></td>
							 <td th:text=${myFollow.followC}></td>
						</tr>
					</tbody>
				</table>
 	</div>
		</div>
	</div>
</body>


</html>