<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지(정민)</title>
<style type="text/css"></style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<!-- 사진 및 계정 정보 -->
			<div th:class="uploadPicOfUser">
			<form action="" method="POST" enctype="multipart/form-data">
				<input type="file" name="picOfUser" required>
				<button type="submit">변경하기</button>
			</form>
		</div>
	<a href="/userModify.html">회원 정보 수정</a>
	
	<div id="myPageMain">
	<div class="myMenu">
	<button onclick="myRecipe()">레시피</button>
	<button onclick="myFrequent()">즐겨찾기</button>
	<button onclick="myActivity()">활동</button>
	<button onclick="myInquiry()">문의 사항</button>
	</div>
	
	<div id="myRecipe">
		<button onclick="myInquiry()">문의 하기</button>
		<button onclick="myInquiryList()">내가 문의한 글</button>
	</div>
	</div>
	<div class="myInquiry">
	<table>
	<tbody>
<!-- 		<div class="myRecipeIng_img">레시피 사진</div>
		<div class="myRecipeIng_title">레시피 제목</div> -->

	
	<tr th:each="myInqList : ${myInqList}">
		<td th:value="${myInqList.qnaDate}" th:text=${myInqList.qnaDate}></td>
		<td th:id="myQnATitle" onclick="showAns();" th:value="${myInqList.qnaTitle}" th:text=${myInqList.qnaTitle}></td>
		<td th:id="myQnACont" th:value="${myInqList.qnaCont}"></td>
		
		<td th:id="answer" th:value="${myInqList.answer}"></td>
	</tr>
	</tbody>
	</table>
		</div>
</body>
</html>