<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>프로필 사진 변경하기</title>
<style type="text/css"></style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<!-- 사진 및 계정 정보 -->
			<div th:class="uploadPicOfUser">
			<form name="userPicForm" action="/mypage/modifyUserPic" method="POST" enctype="multipart/form-data">
				<input id="file" type="file" name="file" required>
				<input type="button" value="변경하기1" onclick="selfclose();">
			</form>
		</div>
		
		<script>
		
		
	
		function selfclose(){
			
			   var userPicForm = document.userPicForm;
			   console.log(userPicForm);
			   userPicForm.submit();
			   console.log("submit");
			   selfclose2();
		}
		function selfclose2(){
		window.close();
		}
		</script>
</body>
</html>