<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
	layout:decorator='~{layout/default}'>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/css/login/login.css">


<link rel="stylesheet" type="text/css" href="https://recipe1.ezmember.co.kr/static/css/bootstrap_20200413.css">
<link rel="stylesheet" type="text/css" href="/static/css/font.css">
<link rel="stylesheet" type="text/css" href="https://recipe1.ezmember.co.kr/static/css/font-awesome.min.css">

 <link rel="stylesheet" type="text/css" href="https://recipe1.ezmember.co.kr/static/css/ez_recipe_20200605.css"> 

<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon.png" rel="apple-touch-icon">
<link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
<link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
<link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
<link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
<link href="https://recipe1.ezmember.co.kr/img/icons/icon-hires.png" rel="icon" sizes="192x192">
<link href="https://recipe1.ezmember.co.kr/img/icons/icon-normal.png" rel="icon" sizes="128x128">
<link rel="stylesheet" href="/css/mypage/mypage.css">
<title id='pageTitle'>쿠킹토킹 ::: 마이페이지</title>
<style type="text/css">
.cont_list .media-heading {
	font-size: 25px;
	width: 590px;
	line-height: 35px;
	padding-top: 20px;
}

.modifyMyRcpBtn {
  background-color: #ffd650;
  border-radius: 5px;
  border: none;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



}

</style>

</head>
<div layout:fragment='content'>


		<div class="container sub_bg" th:each="myRecipeIng : ${myRecipeIng}">

			<div id="contents_area" class="col-xs-9">

				<script type="text/javascript" src="https://recipe1.ezmember.co.kr/static/js/ez_dialog.min_20160430.js" charset="utf-8"></script>

				<div class="my_tabs">

					<ul class="nav nav-tabs nav-justified" style="position: relative;">


						<li role="presentation" class="active"><a
							href="/mypage/myRecipeIng" th:class="myRecipeBtn"
							style="cursor: pointer;"><span
								class=""></span>레시피</a></li>
						<li role="presentation"><a href="/mypage/myFollow"
							th:class="myFrequentBtn"><span
								class=""></span>즐겨찾기</a></li>
						<li role="presentation"><a href="/mypage/myTalk"
							th:class="myActivityBtn"><span
								class=""></span>활동</a></li>
						<li role="presentation"><a href="/mypage/myInquiry"
							th:class="myInquiryBtn"><span
								class=""></span>문의사항</a></li>

					</ul>
				</div> <!-- my_tabs -->

					<div class="chef_cont">


						<ul class="nav nav-tabs3" style="position: relative;">


							<li role="presentation" class="active"><a
								href="/mypage/myRecipeIng" th:class="myRecipeBtn">작성중인 레시피</a></li>
							<li role="presentation"><a href="/mypage/myWritten"
								th:class="myWrittenBtn">작성완료된 레시피</a></li>

						</ul>
						<div class="cont_list">


							<div th:id="myRecipeSub">
								<div th:id="myRecipeResult">
									<table>
										<tbody>
										

											<tr th:each="myRecipeIng : ${myRecipeIng}"
												th:class="myRecipeIng" id="myRecipeIng" style="border-bottom: 1px solid #e6e7e8;">
												<div class="media-left">
													<td><img th:class="myRcpIngImg"
														th:src="'/img/' + ${myRecipeIng.rcpPic}"
														data-holder-rendered="true"
														style="width: 180px; height: 180px; padding:10px;"></td>
												</div>
												<div class="media-body">
													<td class="media-heading" id="top-aligned-media"
															th:text=${myRecipeIng.rcpTitle} style="padding-top: 0px; padding-bottom: 90px; padding-left: 10px;"></td>
												</div>
												<td style="padding-top: 130px;">
													<!-- <form th:id="modifyMyRcpForm" th:action="" method=""> 나중에 쓸지도 몰라서 남겨둠 -->
													<!-- <input type="hidden" th:name="rcpCode" th:value="delete"/> 나중에 쓸지도 몰라서 남겨둠 -->
													<input type="submit" th:class="modifyMyRcpBtn" value="수정"></td>
													<!-- </form> -->
											</tr>
											
										</tbody>
									</table>
								</div> <!-- myRecipeResult -->
							</div> <!-- myRecipeSub -->
						</div><!--/cont_list -->
					</div><!--/chef_cont -->
			</div><!-- /contents_area -->


						<div id="right_area" class="col-xs-3">
				<div class="myhome_main" style="margin-bottom: 20px;">
					<div class="myhome_main_t"
						style="background: url(https://recipe1.ezmember.co.kr/img/mobile/my_pic_d3.jpg) left top no-repeat; background-size: cover;"></div>
					<div class="myhome_main_info">
						<div class="info_pic">
							<a href="javascript:void(0);"
								><img
								src="'/img/'+{myRecipeIng.userPic}"></a>
						
						</div>
						<div class="w3-container" style="padding-top: 50px">
							
							<button 
								onclick="document.getElementById('id01').style.display='block'"
								class="modal-start-btn">정보 수정하기</button>

							<div id="id01" class="w3-modal">
								<div class="w3-modal-content w3-card-4 w3-animate-zoom"
									style="max-width: 600px">

									<div class="w3-center">
										<br> <span
											onclick="document.getElementById('id01').style.display='none'"
											class="w3-button w3-xlarge w3-hover-red w3-display-topright"
											title="Close Modal">&times;</span> <img id="img"
											style="width: 30%" />

									</div>

									<form class="w3-container" action="/mypage/modifyUserPic"
										method="POST" enctype="multipart/form-data">
										<div class="w3-section">
											<!-- <label><b>사진 등록</b></label> --> <input id="input_img"
												class="w3-input w3-border" type="file"
												placeholder="사진을 등록하세요" name="file" accept="image/*">
												<label value="변경할 비밀번호" style="text-align: center;"></label>
											<input required="required" name="userPw" type="password"
												placeholder="변경할 비밀번호"> 
												<input
												id="userNickName" type="text" placeholder="변경할 닉네임"
												name="userNickName">
											<button
												class="modal-submit-btn"
												type="submit">변경하기</button>
										</div>



									</form>


								</div>
							</div>
						</div>
						<!-- w3-container -->

					</div>
				</div>




			</div><!-- /right_area -->
			<div class="col-xs-12 sub_bg_btm"></div>
		</div>






















		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/js/mypage.js"></script>

</div><!-- layout end -->
</html>