<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title id='pageTitle'>마이페이지(정민)</title>
<style type="text/css"></style>

</head>
<body>
	

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>
	<div id="mypageMain">
	<!-- 사진 및 계정 정보 -->
		<div th:class="uploadPicOfUser">
				<!-- <button onclick="window.open('/mypage/userPic','myPic','width=300px, height=300px, location=no, status=no, scrollbars=no');">사진변경하기</button> -->
		
		
		<div class="w3-container">
  <h2>나의 계정 정보</h2>
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">사진 변경하기</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
       <!--  <img src="img_avatar4.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top"> -->
     <img id="img" style="width:30%"/> 
     
      </div>

      <form class="w3-container" action="/mypage/modifyUserPic" method="POST" enctype="multipart/form-data">
        <div class="w3-section">
          <label><b>사진 등록</b></label>
          <input id="input_img" class="w3-input w3-border" type="file" placeholder="사진을 등록하세요" name="file" required>
          <input id="user_pw" type="text" placeholder="변경할 비밀번호" name="user_pw"><br>
          <input id="user_nickName" type="text" placeholder="변경할 닉네임" name="user_nickName">
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">등록하기</button>
        </div>
        
        <script>
var sel_file;

$(document).ready(function(){
	$('#input_img').on("change", handleImgFileSelect);
});

function handleImgFileSelect(e){
	var files = e.target.files;
	var filesArr = Array.prototype.slice.call(files);
	
	filesArr.forEach(function(f){
		if(!f.type.match("image.*")){
			alert("확장 가능한 이미지 파일이 아닙니다");
			return;
			
		}
		sel_file = f;
		
		var reader = new FileReader();
		reader.onload = function(e){
			$('#img').attr("src", e.target.result);
			
		}
		reader.readAsDataURL(f);
	});
}

</script>
        
      </form>


    </div>
  </div>
</div>
		
		
		</div>
		<div id="mypageSubMain">
	<a href="/userModify.html">회원 정보 수정</a>
	
	<div class="myMenu">
	<button onclick="myRecipe()">레시피</button>
	<button onclick="myFrequent()">즐겨찾기</button>
	<button onclick="myActivity()">활동</button>
	<button onclick="myInquiry()">문의 사항</button>
	
	
	<div th:class="myRecipeBasic">
		<button onclick="myRecipe()">진행중인 레시피</button>
		<button onclick="myWritten()">작성완료된 레시피</button>
	</div>
	<div th:class="myWrittenMain"></div>
	<div th:class="myFrequentMain"></div>
	</div>
	<div th:class="myRecipeIngMain">
	<table>
	<tbody>
<!-- 		<div class="myRecipeIng_img">레시피 사진</div>
		<div class="myRecipeIng_title">레시피 제목</div> -->
	
	
	<tr th:each="myRecipeIng : ${myRecipeIng}" th:class="myRecipeIng" id="myRecipeIng">
		<td th:text=${myRecipeIng.rcpTitle}></td>
		<td th:text=${myRecipeIng.rcpPic}></td>
	</tr>
	</tbody>
	</table>
	</div>
	</div>
	</div>
</body>
</html>