<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지(정민)</title>
<style type="text/css"></style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<!-- 사진 및 계정 정보 -->
			<div th:class="uploadPicOfUser">
			<form action="" method="POST" enctype="multipart/form-data">
				<input type="file" name="picOfUser" required>
				<button type="submit">변경하기</button>
			</form>
		</div>
	<a href="/userModify.html">회원 정보 수정</a>
	
	<div id="myPageMain">
	<div class="myMenu">
	<button onclick="myRecipe()">레시피</button>
	<button onclick="myFrequent()">즐겨찾기</button>
	<button onclick="myActivity()">활동</button>
	<button onclick="myInquiry()">문의 사항</button>
	</div>
	
	<div id="myRecipe">
		<button onclick="myActivity()">내가 작성한 글</button>
		<button onclick="myCom()">내가 작성한 댓글</button>
		
		<form onsubmit="return false">
		<input type="text" onsubmit="return false" title="토크검색" 
		id="talkSearchInMy" name="talkSearchInMy" placeholder="토크를 검색하세요" 
		onkeypress="enterkey(event);">
		<button type="button" onclick="searchButtonClick();" id="btnTalkSearchInMy">검색</button>
		</form>
		
	</div>
	</div>
	<div th:id="myActivity">
	<div th:id="myTalkMain">
	<table>
	<tbody>
<!-- 		<div class="myRecipeIng_img">레시피 사진</div>
		<div class="myRecipeIng_title">레시피 제목</div> -->
<!-- 	<td id="talkCont" name="talkCont"></td>
	<td id="talkDate" name="talkDate"></td> -->
	
	<tr th:each="myTalk : ${myTalk}">
		<td class="" th:value="${myTalk.talkCont}" th:text=${myTalk.talkCont}></td>
		<td class="" th:value="${myTalk.talkDate}" th:text=${myTalk.talkDate}></td>
	
	</tr>
	</tbody>
	</table>
		</div>
		</div>
</body>

</html>