<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지(정민)</title>
<style type="text/css"></style>
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<!-- 사진 및 계정 정보 -->
	<div id="mypageMain">
	<div th:class="uploadPicOfUser">
				<button onclick="window.open('/mypage/userPic','myPic','width=300px, height=300px, location=no, status=no, scrollbars=no');">사진변경하기</button>
		</div>
	<a href="/userModify.html">회원 정보 수정</a>
	
	<div class="myMenu">
	<button onclick="myRecipe()">레시피</button>
	<button onclick="myFrequent()">즐겨찾기</button>
	<button onclick="myActivity()">활동</button>
	<button onclick="myInquiry()">문의 사항</button>
	
	
	<div th:class="myRecipeBasic">
		<button onclick="myRecipe()">진행중인 레시피</button>
		<button onclick="myWritten()">작성완료된 레시피</button>
	</div>
	</div>
	<div th:class="myWrittenMain">
	<table>
	<tbody>
	
	
	<tr th:each="myWritten, a : ${myWritten}" th:class="myWritten" id="myWritten">
		<td th:text="${a.count}"></td>
		<td th:text=${myWritten.rcpTitle}></td>
		<td th:text=${myWritten.rcpPic}></td>
		<!-- <td><button type="button" th:name="deleteMyRcpBtn" th:id="deleteMyRcpBtn+${a.count}" onclick="deleteMyRcp();" th:value="${myWritten.rcpCode}">삭제</button></td> -->
		<td>
	
	    <form th:id="deleteMyRcpForm" th:action="@{'/deleteRcp/'+ ${myWritten.rcpCode}}" method="GET">
        <!-- <input type="hidden" th:name="rcpCode" th:value="delete"/> -->
        <input type="submit" th:id="deleteMyRcpBtn" value="삭제">
    </form>
</td>	
		<!-- <input type="hidden" onclick="deleteMyRcp();"  th:id="deleteMyRcpBtn" th:value="${myWritten.rcpCode}"> -->
		
	</tr>
	
	</tbody>
	</table>
	</div>
	</div>
	<!-- 		<td>
		<div class="deleteMyRcp">
		<input type="button" onclick="deleteMyRcp();" th:id="deleteMyRcpBtn" value="${myWritten.rcpCode}">
		</div>
		</td> -->
</body>
</html>