<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title id='pageTitle'></title>
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>

	<form action="/updatePwUpdate" method="post">

		<div class="form-group">
			<label for="change-password">Change password</label> <input
				required="required" name="userPw" type="password" 
				placeholder="Enter you new password">
		</div>

		<button type="submit">submit</button>



	</form>

<form action ="/update"></form>






</body>
</html>