<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>재료 상세페이지</title>
</head>
<body>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
	<tr>
		<th>사진</th><th>이름</th><th>제철</th><th>100g당 열량</th><th>보관온도</th>
	</tr>
	<tr th:each="ingr : ${ingrList}">
	<td th:text="${ingr.ingrPic}">
	<td th:text="${ingr.ingrName}">
	<td th:text="${ingr.ingrSeason}">
	<td th:text="${ingr.ingrCalorie}">Kcal</td>
	<td th:text="${ingr.ingrTemper}">℃</td>
	</table>	
	<!--  <input type="button" text="레시피검색"/>-->
	<!-- 모달창으로 띄우기. 제목에 재료이름. 구성은 css로 포지션하기 -->
</body>
</html>