<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>레시피 목록</title>
</head>
<body>
<style>
h {
text-align="center"
}
</style>


	<h3>총 12,345개의 맛있는 레시피가 있습니다.</h3>
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
	<tr>
	<th>번호</th>	<th>제목</th>	<th>작성자</th><th>등록일</th><th>조회수</th>
	<th>요리소개</th><th>대표사진</th><th>동영상</th><th>인원</th><th>시간</th><th>난이도</th>
	<th>종류</th><th>상황</th><th>방법</th><!--  <th>재료</th><th>재료무게</th>-->
	<th>요리순서</th><th>요리내용</th><th>요리사진</th><!-- <th>태그</th> -->
	</tr>
	
	
	<tr th:each="recipe : ${recipeList}">
	<td th:text="${recipe.recipeVO.rcpCode}">
	<td th:text="${recipe.recipeVO.rcpTitle}">
	<td th:text="${recipe.nickName}">
	<td th:text="${recipe.recipeVO.rcpDate}">
	<td th:text="${recipe.recipeVO.rcpViews}">
	<td th:text="${recipe.recipeVO.rcpExpl}">
	<td th:text="${recipe.recipeVO.video}">
	<td th:text="${recipe.recipeVO.rcpPic}">
	<td th:text="${recipe.recipeVO.personnel}">
	<td th:text="${recipe.recipeVO.cookTime}">
	<td th:text="${recipe.recipeVO.level}">
	<td th:text="${recipe.typeCatVO.cookType}">
	<td th:text="${recipe.typeCatVO.cookSituation}"> 
	<td th:text="${recipe.typeCatVO.cookMethod}">
	<!-- <td th:text="${recipe.rcpIngrVO.userIngr}">
	<td th:text="${recipe.rcpIngrVO.ingrWeigh}"> -->
	<td th:text="${recipe.rcpOrderVO.cookOrder}">
	<td th:text="${recipe.rcpOrderVO.cookCont}">
	<td th:text="${recipe.rcpOrderVO.cookPic}">
<!-- 	<td th:text="${recipe.tag}"> -->
	</tr>
	</table>
</body>
</html>