<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>레시피 최신목록</title>
</head>
<body >

	<p style="text-align:center">총 <b><span th:text="${recipeCount}"></span></b>개의 맛있는 레시피가 있습니다.</p>

	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
	<tr>
		<th>제목</th>	<th>작성자</th><th>등록일</th><th>대표사진</th>
	</tr>
	<tr th:each="recipe : ${recipeList}">
	<!-- <td th:text="${recipe.recipeVO.rcpCode}"> -->
	<td><a th:href="@{/recipeView(rcpCode=${recipe.recipeVO.rcpCode})}" th:text="${recipe.recipeVO.rcpTitle}"></a></td>
	<td th:text="${recipe.nickName}">
<!-- 	<td th:text="${#temporals.format(recipe.recipeVO.rcpDate, 'yyyy-MM-dd')}"></td> -->
	<td th:text="${recipe.recipeVO.rcpDate}">
	<td th:text="${recipe.recipeVO.rcpPic}">
	</table>	
	<br>
</body>
</html>