<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>레시피 글보기</title>
</head>
<body>
<!-- 	<div id="recipe_area" class="">
		<div class="recipe_pic">
			<div class="recipe_views_count">
				
			</div> recipe views count end
			<div class="recipe_pic_2">
				<img id="" alt="recipe_main_pic">
			</div>recipe pic2 end
		</div> recipe pic end
		
	</div>recipe area end 
	<span class="recipe_hit_views" th:text="${rcpV.rcpViews}">조회수</span> -->
	
	<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">
	<tr>
	<th>제목</th><th>닉네임</th><th>날짜</th><th>조회수</th><th>요리소개</th><th>대표사진</th><th>동영상</th>
	<th>종류별</th><th>상황별</th><th>방법별</th>
	<th>인원</th><th>시간</th><th>난이도</th>
	<th>선택된재료</th><th>재료무게</th>	
	<th>조리순서</th><th>조리내용</th><th>조리사진</th><th>태그</th>
	</tr>
	
	<tr th:each="rcpV : ${recipeView}">
	
	<td th:text="${rcpV.recipeVO.rcpTitle}">
	<td th:text="${rcpV.nickName}">
	<td th:text="${rcpV.recipeVO.rcpViews}">
	<td th:text="${rcpV.recipeVO.rcpExpl}">
	<td th:text="${rcpV.recipeVO.rcpPic}">
	<td th:text="${rcpV.recipeVO.video}">
	
	<td th:text="${rcpV.typeCatVO.cookType}">
	<td th:text="${rcpV.typeCatVO.cookSituation}"> 
	<td th:text="${rcpV.typeCatVO.cookMethod}">	
	
	<td th:text="${rcpV.recipeVO.personnel}">
	<td th:text="${rcpV.recipeVO.cookTime}">
	<td th:text="${rcpV.recipeVO.level}">
	
	<td th:text="${rcpV.rcpIngrVO.ingrCat}">
	<td th:text="${rcpV.rcpIngrVO.userIngr}">
	<td th:text="${rcpV.rcpIngrVO.ingrWeigh}"> 	
		
	<td th:text="${rcpV.rcpOrderVO.cookOrder}">
	<td th:text="${rcpV.rcpOrderVO.cookCont}">
	<td th:text="${rcpV.rcpOrderVO.cookPic}">
	
	<td th:text="${rcpV.tagVO.tag}">
	</tr>
	</table>

</body>
</html>