<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>레시피 상세보기</title>

</head>
<body>
	<form th:method="post" action="#">
		<div th:each="recipe : ${recipeDTO}">
            <div th:text="${recipe.recipeVO.rcpPic}"></div>
            <div th:text="${recipe.recipeVO.rcpViews}"></div>
            <div th:text="${recipe.userVO.userPic}"></div>
            <div th:text="${recipe.userVO.nickName}"></div>
            <div th:text="${recipe.recipeVO.rcpTitle}"></div>
            <div th:text="${recipe.recipeVO.rcpDate}"></div>
            <div th:text="${recipe.recipeVO.rcpExpl}"></div>
            <div th:text="${recipe.recipeVO.video}"></div>
            <div th:text="${recipe.typeCatVO.cookType}"></div>
            <div th:text="${recipe.typeCatVO.cookSituation}"></div>
            <div th:text="${recipe.typeCatVO.cookMethod}"></div>
            <div th:text="${recipe.recipeVO.personnel}"></div>
            <div th:text="${recipe.recipeVO.cookTime}"></div>
            <div th:text="${recipe.recipeVO.level}"></div>
 		</div>
        <div th:each="rcpIngr : ${rcpIngrView}">
            <div th:text="${rcpIngr.ingrCat}"></div>
            <div th:text="${rcpIngr.userIngr}"></div>
            <div th:text="${rcpIngr.ingrWeigh}"></div>
        </div>
        <div th:each="rcpOrder : ${rcpOrderView}">         
            <div th:text="${rcpOrder.cookOrder}"></div>
            <div th:text="${rcpOrder.cookCont}"></div>
            <div th:text="${rcpOrder.cookPic}"></div>
        </div>
        <div >
        <span></span><b>태그</b>
            <div ><a th:each="tag : ${tagView}" href="#" th:text="${tag.tag}"></a></div>
        </div>       
    </form>          
	<span th:align="center"><a th:href="@{newList}">글목록</a></span>
	<span th:align="center"><a th:href="@{update}">글수정</a></span>
	<span th:align="center"><a th:href="@{delete}">글삭제</a></span>
</body>
</html>