<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout='http://www.ultraq.net.nz/thymeleaf/layout'
layout:decorator='~{layout/default}'>
<head>
<meta charset="UTF-8">
<title id='pageTitle'>Insert title here</title>

<div layout:fragment='content'>
<div class="rcp_m_list2">
    <div class="m_list_tit">
    총 <b>1,996</b>개의 맛있는 레시피가 있습니다.
    <ul class="nav nav-tabs2 pull-right" style="position:relative;">
      <li role="presentation"><a href="javascript:void(0);" onclick="goSearchRecipe('order','accuracy')">정확순</a></li>
      <li role="presentation"><a href="javascript:void(0);" onclick="goSearchRecipe('order','date')">최신순</a></li>
      <li role="presentation" class="active"><a href="javascript:void(0);" onclick="goSearchRecipe('order','reco')">추천순</a></li>
    </ul>
    </div>

  <div class="row">
      <div class="col-xs-3" th:each=''>
        <a class="thumbnail" href="/recipe/6892442">
                        <span class="thumbnail_over"><img src="https://recipe1.ezmember.co.kr/img/thumb_over.png"></span>
            <img src="https://recipe1.ezmember.co.kr/cache/recipe/2018/07/12/211a169445837d4f72ab65c370acd4e61_m.jpg" style="width:275px; height:275px;">
          <div class="caption">
            <h4 class="ellipsis_title2" th:text='rcpTitle'></h4>
            <p th:text='nickName'>by 불량엄마소자매마미</p>
          </div>
        </a>
                <div style="position:absolute;top:365px;width:100%;text-align:right;right:20px;"><span style="color:#74b243;font-size:10px;" class="glyphicon glyphicon-certificate"></span></div>
              </div>
        </a>
                <div style="position:absolute;top:365px;width:100%;text-align:right;right:20px;"><span style="color:#74b243;font-size:10px;" class="glyphicon glyphicon-certificate"></span></div>
              </div>

    </div></div>
</div>

</html> -->