<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>냉장고 파먹기(정민)</title>


<!-- <script>
$(document).ready(function(){
  $(".a").click(function(){
    $(this).hide();
  });
});
</script> -->
</head>
<body>


	<!-- 냉장고 파먹기 재료 검색창 -->
	<form onsubmit="return false">
		<input type="text" onsubmit="return false" title="재료를 검색하세요"
			id="ingrSearchInRefri" name="ingrSearchInRefri" class="" placeholder="재료 검색">
		<button type="button" class="" id="btnIngrSearch">검색</button>
		<ul id="searchedIngr"></ul> <!-- 검색한 재료가 나오는 영역 -->

		<!-- chosung -->	
		<button class="chosung" th:value="0">ㄱ</button>
		<button class="chosung" th:value="1">ㄴ</button>
		<button class="chosung" th:value="2">ㄷ</button>
		<button class="chosung" th:value="3">ㄹ</button>
		<button class="chosung" th:value="4">ㅁ</button>
		<button class="chosung" th:value="5">ㅂ</button>
		<button class="chosung" th:value="6">ㅅ</button>
		<button class="chosung" th:value="7">ㅇ</button>
		<button class="chosung" th:value="8">ㅈ</button>
		<button class="chosung" th:value="9">ㅊ</button>
		<button class="chosung" th:value="10">ㅋ</button>
		<button class="chosung" th:value="11">ㅍ</button>
		<button class="chosung" th:value="12">ㅌ</button>
		<button class="chosung" th:value="13">ㅎ</button>


	</form>
	<!-- 재료 리스트 가져오기 -->
	<form>
	<div class="result-area" id="ingrList">
			<table>
			<tbody th:id="result">
			
				<tr th:each="ingrs : ${ingrs}">
				<td><button th:class="ingrButton" th:value='${ingrs.ingrName}' th:text="${ingrs.ingrName}" data-area=""></button></td>
				</tr>
			</tbody>
		</table>
	</div>
	</form>
	<!-- 선택한 재료 담는 곳 -->
	<div class="" id="selectedIngr" data-area="selectedIngr" value="">
	
	</div>
	<form action="/rcmmRecipe">
		<button type="submit" class="" id="goToRcmmRecipe">레시피 검색하러 가기</button></form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		
	<script src="/js/recipe.js"></script>
</body>
</html>