<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cook.talk.model.dao.MypageDAO">
	
	<select id="modifyUserPic" parameterType="String">
	update user set userPic = #{userPic} where userId='1111pppp@naver.com'
	</select>
	
	<select id="getMyRecipeIng" parameterType="String" resultType="RecipeVO">
	SELECT DISTINCT rcpTitle, rcpPic FROM recipe.rcp WHERE userId='kkk@naver.com' AND registerStatus=0
	</select>
	
	<select id="getMyRecipeWritten" resultType="MypageDTO">
	SELECT DISTINCT rcpTitle, rcpPic, rcpCode FROM recipe.rcp WHERE userId='kkk@naver.com' AND registerStatus=1
	</select>
	
	<delete id="deleteRcp" >
	DELETE FROM recipe.rcp WHERE rcpCode = #{rcpCode} AND userId = "kkk@naver.com"
	</delete>
	
	<select id="getSearchMyFollow" parameterType="String" resultType="MypageDTO">
	
	SELECT DISTINCT nickName, count(r.rcpCode) AS followC FROM recipe.user AS u INNER JOIN recipe.follow AS f 
	ON u.userId = f.followChef INNER JOIN recipe.rcp AS r ON r.userId = f.followChef
	WHERE f.userId='kkk@naver.com' AND nickName LIKE CONCAT('%', #{followChef},'%')
	
	</select>
	
	<select id="getSearchMyScraped" resultType="MypageDTO" parameterType="String">
	SELECT DISTINCT rcpTitle, scrapDate FROM recipe.rcp AS r INNER JOIN recipe.scrap AS s ON r.rcpCode = s.rcpCode 
	WHERE s.userId='kkk@naver.com' AND r.rcpTitle LIKE CONCAT('%', #{rcpTitle}, '%')
	</select>
	

<!-- 	<select id="deleteMyRecipe" resultType="MypageDTO">
	DELETE * FROM recipe.rcp WHERE userId = 'kkk@naver.com' AND rcpCode = #{qnaTitle}
	</select> -->

	<select id="getMyFollow" resultType="MypageDTO">
	SELECT DISTINCT nickName, count(r.rcpCode) AS followC FROM recipe.user AS u INNER JOIN recipe.follow AS f 
	ON u.userId = f.followChef INNER JOIN recipe.rcp AS r ON r.userId = f.followChef
	WHERE f.userId='kkk@naver.com' 
	</select>
	
	<select id="getMyScrapedRecipe" parameterType="String" resultType="RecipeVO">
	<!-- SELECT rcpTitle, rcpPic, scrapDate FROM recipe.scrap WHERE userId='kkk@naver.com' -->
	SELECT rcpTitle, scrapDate FROM recipe.rcp AS r INNER JOIN recipe.scrap AS s ON r.rcpCode = s.rcpCode 
	WHERE s.userId='kkk@naver.com' ORDER BY scrapDate DESC
	</select>
	
	<select id="getMyTalk" resultType="TalkVO">
	SELECT DISTINCT talkCont, talkDate FROM recipe.talk WHERE userId='1113pppp@naver.com' 
	ORDER BY talkDate DESC
	</select>
	
	<select id="getSearchMyTalk" resultType="MypageDTO" parameterType="String">
	SELECT DISTINCT talkCont, talkDate FROM recipe.talk WHERE userId='1113pppp@naver.com' AND 
	talkCont LIKE CONCAT('%', #{talkCont}, '%')
	</select>
	
	<select id="getAllMyCom" resultType="MypageDTO">
	SELECT talkCom, talkComDate FROM recipe.talkcom tc WHERE userId='kkk@naver.com' 
	UNION SELECT rcpCom AS talkCom, rcpComDate AS talkComDate 
	FROM recipe.rcpcom rc WHERE userId='kkk@naver.com' 
	ORDER BY talkComDate DESC
	</select>
	
	<select id="getSearchAllMyCom" parameterType="String" resultType="MypageDTO">
	SELECT DISTINCT talkCom, talkComDate FROM recipe.talkcom tc WHERE userId='kkk@naver.com' 
	AND tc.talkCom LIKE CONCAT('%', #{talkCom}, '%') 
	UNION SELECT rcpCom AS talkCom, rcpComDate AS talkComDate  
	FROM recipe.rcpcom rc WHERE userId='kkk@naver.com' 
	AND rc.rcpCom LIKE CONCAT('%', #{talkCom}, '%') 
	ORDER BY talkComDate DESC
	</select>


	<select id="getSearchTalkCom" parameterType="String" resultType="MypageDTO">
	SELECT DISTINCT talkCom, talkComDate FROM recipe.talkcom tc WHERE userId='kkk@naver.com' 
	AND tc.talkCom LIKE CONCAT('%',#{talkCom},'%') ORDER BY talkComDate DESC
	</select>
	
	<select id="getSearchRcpCom" parameterType="String" resultType="MypageDTO">
	SELECT DISTINCT rcpCom, rcpComDate FROM recipe.rcpcom rc WHERE userId='kkk@naver.com' 
	AND rc.rcpCom LIKE CONCAT('%',#{rcpCom},'%') ORDER BY rcpComDate DESC
	</select>
	
	<select id="getMyTalkCom" resultType="TalkComVO">
	SELECT DISTINCT talkCom, talkComDate FROM recipe.talkCom WHERE userId='kkk@naver.com'
	</select>
	
	<select id="getMyRcpCom" resultType="MypageDTO">
	SELECT DISTINCT rcpCom, rcpComDate FROM recipe.rcpcom WHERE userId='kkk@naver.com'
	</select>
	
	<insert id="rqMyInq" parameterType="QnAVO">
	INSERT INTO recipe.qna(qnaCode, qnaTitle, qnaCont, qnaDate, userId) VALUES (#{qnaCode}, #{qnaTitle}, #{qnaCont}, curdate(),'kkk@naver.com') 
	</insert>
	
	<select id="getmyInq" resultType="QnAVO">
	SELECT qnaDate, qnaTitle, qnaCont, answer FROM recipe.qna WHERE userId='kkk@naver.com'
	</select>
	
	<select id="selectQnACode" resultType="int">
	SELECT SUBSTRING((SELECT qnaCode FROM recipe.qna ORDER BY qnaCode DESC LIMIT 1), 
	3)
	</select>
	
</mapper>
