<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cook.talk.model.dao.RecipeDAO">

	
	<select id="getIngrName" parameterType="String" resultType="ingrVO">
	SELECT ingrName FROM recipe.ingr WHERE ingrName>=#{chosung1}
	<if test='!chosung1.equals("하")'>AND ingrName<![CDATA[<]]>#{chosung2}</if>
	</select>

	<select id="getSearchedIngrName" parameterType="String" resultType="String">
		SELECT ingrName FROM recipe.ingr WHERE ingrName LIKE CONCAT('%',#{ingrName},'%')
	</select>
	<select id="getIngrName1" parameterType="String" resultType="String">
		SELECT ingrName FROM recipe.ingr WHERE ingrName>=#{chosung1}
		<if test='!chosung1.equals("하")'>AND ingrName<![CDATA[<]]>#{chosung2}</if>
	</select>
	
	<select id="getRcmmList" parameterType="String" resultType="recipeVO">
		SELECT DISTINCT rcpTitle, rcpPic FROM recipe.rcp as r INNER JOIN recipe.rcpIngr AS ri
		ON r.rcpCode = ri.rcpCode INNER JOIN recipe.ingr AS i ON i.rcpIngrCode = ri.rcpIngrCode
		WHERE i.ingrName=#{selectedIngr};
	</select>

	<select id="countIngrInRcp" parameterType="int" resultType="int">
		SELECT COUNT(rcpCode) FROM recipe.rcpIngr WHERE rcpCode = 'R-000083';
	</select>

	<select id="countIngrInMyRefri" parameterType="int" resultType="int">
	</select>

	<resultMap id="recipeDTO" type="RecipeDTO">
		<id property="rcpCode" column="rcpCode" />
		<result property="nickName" column="nickName" />
	
		<association property="recipeVO" javaType="RecipeVO">
			<result column="rcpCode" property="rcpCode" />
			<result column="rcpTitle" property="rcpTitle" />
			<result column="rcpPic"  property="rcpPic" />
			<result column="personnel"  property="personnel" />
			<result column="cookTime"  property="cookTime" />
			<result column="level"  property="level" />
			<result column="rcpDate"  property="rcpDate" />
			<result column="video"  property="video" />
			<result column="rcpViews" property="rcpViews" />
			<result column="rcpExpl" property="rcpExpl" />
		</association>
	
		<association property="typeCatVO" javaType="TypeCatVO">
			<result column="cookSituaton" property="cookSituation" />
			<result column="cookMethod" property="cookMethod" />
			<result column="cookType" property="cookType" />
		</association>
	</resultMap>
		
	<select id="createViewRecipeList">
	CREATE View RecipeDTO AS
	SELECT rcp.rcpCode, rcp.rcpTitle, user.nickname, rcp.rcpDate, rcp.rcpViews, 
	rcp.rcpExpl, rcp.video, rcp.rcpPic, rcp.personnel, rcp.cookTime, rcp.level,
	typecat.cookType, typecat.cookSituation, typecat.cookMethod
	FROM rcp, user, typecat
	WHERE rcp.typeCode = typeCat.typeCode
	AND rcp.userId = user.userId
	</select>
	
	<select id="getRecipeList" resultMap="recipeDTO">
	SELECT rcpCode, rcpTitle, nickname, rcpDate, rcpPic
	FROM recipe.recipedto
	ORDER BY rcpDate DESC
	</select>		
	
	<select id="recipeCount" resultType="int">
	SELECT count(*) from rcp
	</select>
	

		
<!-- 	<update id="insertRecipe" parameterType="recipeDto">
	UPDATE INTO recipe.recipedto (<include refid="recipedtoColumns" /> ) 
	VALUES (#{rcpCode}, #{nickName}, #{rcpDate}, 0, #{rcpTitle}, #{rcpExpl} )
	</update> -->



<!-- 	<select id="recipeView" resultMap="recipeDTO">
	SELECT rcpPic, rcpViews, nickname, rcpTitle, rcpExpl
	FROM recipe.recipedto
	</select>	

	<select id="recipeView2" resultType="RcpOrderVO">
	SELECT cookOrder, cookCont, cookPic FROM rcporder WHERE rcpCode=#{rcpCode}
	</select>
	<select id="recipeView3" resultType="RcpIngrVO">
	SELECT ingrCat, userIngr, ingrWeigh FROM rcpingr WHERE rcpCode=#{rcpCode}
	</select>
	<select id="recipeView4" resultType="TagVO">
	SELECT tag FROM tag WHERE rcpCode=#{rcpCode}
	</select>
	<select id=recipeView5" resultType="RcpComVO">  userVO에서 nickName 조인
	SELECT rcpcom, rcpComDate FROM 
	</select> -->
	
	
<!-- 	<select id="selectRcpCode" resultType="int">
	 SELECT substring((SELECT rcpCode FROM rcp ORDER BY rcpCode DESC LIMIT 1), 3);	
	</select>
	<insert id="insertRecipeProc"> recipeVO
	INSERT INTO rcp (rcpCode, rcpTitle, rcpExpl, video, rcpPic, personnel, cookTime, level)
	VALUES (#{rcpCode}, #{rcpTitle}, #{rcpExpl}, #{video}, #{rcpPic}, #{personnel}, #{cookTime}, #{level})
	</insert>
	<insert id="insertRecipeProc"> TypeCatVO
	INSERT INTO typecat (cookType, cookSituation, cookMethod)
	VALUES (#{cookType}, #{cookSituation}, #{cookMethod})
	</insert>
	<insert id="insertRecipeProc"> rcpIngrVO 
	INSERT INTO rcpingr (ingrCat, userIngr, ingrWeigh) VALUES (#{ingrCat}, #{userIngr}, #{ingrWeigh})
	</insert>
	<insert id="insertRecipeProc"> rcpOrderVO  
	INSERT INTO rcporder (cookOrder, cookCont, cookPic) VALUES (#{cookCont}, #{cookPic})
	</insert>	
	<insert id="insertRecipeProc"> tagVO
	INSERT INTO tag (tag) VALUES (#{tag})
	</insert> -->





</mapper>
