<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cook.talk.model.dao.RecipeDAO">

	
<!-- 	<select id="getIngrName" parameterType="String" resultType="ingrVO">
	SELECT ingrName FROM recipe.ingr WHERE ingrName>=#{chosung1}
	<if test='!chosung1.equals("하")'>AND ingrName<![CDATA[<]]>#{chosung2}</if>
	</select>

	<select id="getSearchedIngrName" parameterType="String" resultType="String">
		SELECT ingrName FROM recipe.ingr WHERE ingrName LIKE CONCAT('%',#{ingrName},'%')
	</select> -->


	<resultMap id="recipeDTO" type="RecipeDTO">
		<id property="rcpCode" column="rcpCode" />
		<result property="nickName" column="nickName" />
	
		<association property="recipeVO" javaType="RecipeVO">
			<result column="rcpCode" property="rcpCode" />
			<result column="rcpTitle" property="rcpTitle" />
			<result column="rcpPic"  property="rcpPic" />
			<result column="personnel"  property="personnel" />
			<result column="cookTime"  property="cookTime" />
			<result column="level"  property="level" />
			<result column="rcpDate"  property="rcpDate" />
			<result column="video"  property="video" />
			<result column="rcpViews" property="rcpViews" />
			<result column="rcpExpl" property="rcpExpl" />
		</association>
	
		<association property="typeCatVO" javaType="TypeCatVO">
			<result column="cookSituaton" property="cookSituation" />
			<result column="cookMethod" property="cookMethod" />
			<result column="cookType" property="cookType" />
		</association>
	</resultMap>
	
	
	<select id="createViewRecipeList">
	CREATE View RecipeDTO AS
	SELECT rcp.rcpCode, rcp.rcpTitle, user.nickname, rcp.rcpDate, rcp.rcpViews, 
	rcp.rcpExpl, rcp.video, rcp.rcpPic, rcp.personnel, rcp.cookTime, rcp.level,
	typecat.cookType, typecat.cookSituation, typecat.cookMethod
	FROM rcp, user, typecat
	WHERE rcp.typeCode = typeCat.typeCode
	AND rcp.userId = user.userId
	</select>
	
	<select id="getRecipeList" resultMap="recipeDTO">
	SELECT rcpCode, rcpTitle, nickname, rcpDate, rcpPic
	FROM recipe.recipedto
	ORDER BY rcpDate DESC;	
	</select>	
		

<!-- <select id="getIngrName1" parameterType="String" resultType="String">
	SELECT ingrName FROM recipe.ingr WHERE ingrName>=#{chosung1}
	<if test='!chosung1.equals("하")'>AND ingrName<![CDATA[<]]>#{chosung2}</if>
	</select> -->


</mapper>
